################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/e_calc/.vs/forms1/v16
