################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/e_calc/.vs
/e_calc/bin
/e_calc/obj
node_modules/
