@media only screen and (max-width: 700px) {

    html,
    body {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        position: fixed;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    #list-container {
        flex: 1;
        flex-direction: column;
        min-width: 200px;
        overflow-y: hidden;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin: 5px;
        padding: 0;
    }

    #h3 {
        background-color: #ececec;
        margin: 0;
        padding: 8px 0 8px 0;
        border-bottom: 1px solid #ccc;
    }

    #lg {
        overflow-y: auto;
        height: calc(100vh - 100px);
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .list-group-item {
        cursor: pointer;
        white-space: nowrap;
        padding: 10px 0 10px 5px;
        margin: 0;
    }

    #form-container {
        display: none;
        margin-top: 0px;
        border-radius: 0 0 5px 5px;
        padding-top: 10px;
        border-top: none;
        margin: 10px;
        padding: 5px;
    }

    #right-container {
        display: none;
        margin: 0;
        padding: 0;
    }

    #goback-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .form-grid {
        display: none;
        margin: 20px 10px 20px 10px;
        grid-template-columns: minmax(auto, max-content) auto;
        box-shadow: none;
        row-gap: 10px;
        column-gap: 40px;
        padding: 0;
    }

    #form-title-p {
        font-size: 1em;
        margin: 0;
        font-weight: bolder;
        color: black;
        flex: 1;
        white-space: nowrap;
    }

    #form-title-h3 {
        display: none;
    }

}