body {
  padding: 10px;
  height: 100%;
}

label {
  white-space: nowrap;
}

#goback-header {
  display: none;
  background-color: #f0f0f0;
  padding: 5px 0 5px 0;
}

svg {
  fill: #007bff;
  height: 24px;
  width: 24px;
  font-weight: bold;
}

#goBackText {
  color:#007bff;
}

.main-container {
  display: flex;
}

#list-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  /*padding: 20px;*/
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  flex: 1;
  overflow-y: hidden;
  /*max-height: calc(100vh - 20px);*/
  margin-right: 20px;
  min-width: 200px;
}

#h3 {
  background-color: #ececec;
  margin: 0;
  padding: 8px 0 8px 0;
  border-bottom: 1px solid #ccc;
}


#lg {
  overflow-y: auto;
  height: calc(100vh - 100px);
  width: 100%;
  padding: 0;
  margin: 0;
}


#right-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  flex: 2;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

#form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list-group-item {
  cursor: pointer;
  white-space: nowrap;
}

.form-grid {
  margin: 40px 200px 40px 200px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;
  display: none;
  grid-template-columns: minmax(auto, max-content) auto;
  row-gap: 20px;
  column-gap: 20px;
}

#form-fw, #form-tf {
  row-gap: 40px;
}

#form-headphone {
  column-gap: 10px;
}

.error-shadow {
  box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

.btn {
  margin-top: 20px;
}

